# dependencies
node_modules

# production
build
dist
  
# misc
package.json.bak
.DS_Store

# config file
.env

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# uploads
server/uploads 
server/node_modules
node_modules/client
server/dist
server/build
server/logs
server/temp
server/uploads
server/outputs
server/static
server/nextjs-build
server/nextjs-assets
server/nextjs-assets